<div th:fragment="pagination (totalPages, pageNo, search)">
    <nav th:if="${totalPages > 0}" class="fixed-bottom d-flex justify-content-center pb-5">
        <ul class="pagination">
            <li class="page-item" th:classappend="${pageNo == 1} ? 'disabled' : ''">
                <a class="page-link"
                   th:href="@{${#ctx.springRequestContext.requestUri}(search=${search},pageNo=${pageNo} - 1)}"
                   tabindex="-1">Previous</a>
            </li>

            <li class="page-item" th:each="i : ${#numbers.sequence(1, (totalPages))}"
                th:classappend="${pageNo == i} ? 'active' : ''">
                <a class="page-link" th:href="@{${#ctx.springRequestContext.requestUri}(search=${search},pageNo=${i})}" th:text="${i}"></a>
            </li>
            <li class="page-item" th:classappend="${pageNo == totalPages} ? 'disabled' : ''">
                <a class="page-link" th:href="@{${#ctx.springRequestContext.requestUri}(search=${search},pageNo=${pageNo} + 1)}">Next</a>
            </li>
        </ul>
    </nav>
</div>
